<div class="container">
  <h1 class="blockquote text-center">Countries of the World</h1>
  <ng-container *ngIf="countries$ | async as items; else loadingOrError">
    <div class="row" *ngFor="let item of items; index as i; let even = even; let odd = odd;">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">{{ i + 1 }} . {{ item.name | titlecase }}</h5>
          </div>
          <div class="card-body">
            <img src="{{item.flag}}" alt="{{item.name}}" class="img-thumbnail">
            <h5 class="card-title">Capital : {{ item.capital | titlecase }}</h5>
            <dl class="row">
              <dt class="col-sm-3">Region</dt>
              <dd class="col-sm-9">
                <p>{{ item.region }} ({{ item.subregion }})</p>
              </dd>
              <dt class="col-sm-3">Area</dt>
              <dd class="col-sm-9">
                <p>{{item.area}}</p>
              </dd>
              <dt class="col-sm-3">Population</dt>
              <dd class="col-sm-9">
                <p>{{item.population}}</p>
              </dd>
              <dt class="col-sm-3">Co-ordinates</dt>
              <dd class="col-sm-9">
                <p>{{ item.latlng[0] }}, {{ item.latlng[1]}}</p>
              </dd>
              <dt class="col-sm-3">Timezones</dt>
              <dd class="col-sm-9">
                <p *ngFor="let timezone of item.timezones">
                  {{ timezone }}
                </p>
              </dd>
              <dt class="col-sm-3">Borders</dt>
              <dd class="col-sm-9">
                <div *ngIf="!item.borders || item.borders.length === 0">
                  <p>No borders</p>
                </div>
                <div *ngIf="item.borders || item.borders.length > 0">
                  <ul class="list-inline">
                    <li class="list-inline-item" *ngFor="let border of item.borders">
                      {{ border }}
                    </li>
                  </ul>
                </div>
              </dd>
              <dt class="col-sm-3">Languages</dt>
              <dd class="col-sm-9">
                <ul class="list-group" *ngFor="let languages of item.languages; let j = index">
                  <li class="list-group-item">
                    {{ languages.name }} ({{ languages.nativeName }})
                  </li>
                </ul>
              </dd>
            </dl>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #loadingOrError>
    <ng-container *ngIf="errorObject; else loading">
      <div class="col-12 text-center">
        <div class="alert alert-danger">
          {{ errorObject }}
        </div>
      </div>
    </ng-container>
    <ng-template #loading>
      <div class="col-12 text-center">
        Loading ...
      </div>
    </ng-template>
  </ng-template>
</div>
